# 🚀 Entorno de ejecución
NODE_ENV=development

# 📌 Configuración de Base de Datos
DB_HOST=localhost
DB_USER=root
DB_PASS=root
DB_NAME=innovapro_v2
DB_DIALECT=mysql
DB_PORT=3306

# 📌 Configuración del Servidor
PORT=3001
API_URL=http://localhost:3001/api
FRONTEND_URL=http://localhost:3000

# 🔐 Clave secreta de jwt
JWT_SECRET="mi-clave-secreta"

# 🤖 Google reCAPTCHA
RECAPTCHA_SITE_KEY=6Lc5VNsqAAAAALYH4P8sCUiRPMbuIz7wVJmPrc_i
RECAPTCHA_SECRET_KEY=6Lc5VNsqAAAAAIq79ql_IWAW4toGjGFYYDYdjKOi